<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">Welcome to my site, my name is Ann, and I'm a software engineer originally from the Pittsburgh area, currently living in the Washington, DC Area. I love new challenges and the thrill of seeing my code come to life.</p>
                <p>After my time in the Army and as a theater Production Manager the time was right to pursue my coding passion as a career.  In my spare time I enjoy adding new technologies to my skill set.  I also enjoy swing dancing, sports, crafts, hiking, and escape rooms.</p>
            </div>
        </div>
    </div>
</section>
