<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Ann Allan</h1>
            <h2>Full Stack Web Developer</h2>
            <hr>
            <p>Dancer, Sports Fan, Problem Solver</p>
            <a href="#" <i class="fa fa-github-alt" aria-hidden="true"></i></a>
            <a href="#"<i class="fa fa-linkedin" aria-hidden="true"></i></a>
            <a href="#" <i class="fa fa-medium" aria-hidden="true"></i></a>
            <a href="#" <i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>
</header>
